.box {
  box-sizing: border-box;
  background-color: aquamarine;
  height: auto;
  width: 450px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.taskTitle {
}
.statList {
}
.calcButton {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.calcButton:hover {
  background-color: #6c8cff;
}

#resultButton {
  margin-bottom: 16px;
  border: none;
  border-radius: 8px;
  padding: 8px 10px;
  width: 160px;
  height: 40px;
  background-color: #ff4e4e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#resultButton:hover {
  background-color: #fd6969;
}
#resultSection {
}
.sum {
  border-radius: 8px;
  padding: 16px;
  margin: 20px auto;
  background-color: rgb(245, 241, 243);
  width: 80px;
  height: 50px;
  align-content: center;
}
.stat {
  border-radius: 8px;
  background-color: rgb(236, 238, 98);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 16px;
}
